{% load static %}
{% load bootstrap3 %}
<html>
    <head>
        <title>
            {% block head_title %}website.home{% endblock head_title %}
        </title>
        <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type='text/css' href="{% static "css/base.css" %}">
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">Fantastic Website Header</a></h1>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
            {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
